extends base.pug

block scripts 
    script(src='/static/index.js')
    //- script 
    //-     include ../static/index.js

block style 
    style 
        include ../static/style.css

block content 
    section#introSection 
        div Welcome to Karan's dance academy. 
        div.small  Eat Sleep Dance Repeat 


    section#missionSection 
        h2 Our mission 
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img 
                    img(src="/static/crd.png") 
                div.card-content
                    p This is the best dance academy for you!

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img 
                    img(src="/static/crd2.png") 
                div.card-content
                    p This is the best dance academy for you! 

        div.card
            h3 Expert Teaching 
            div.card-box
                div.card-img 
                    img(src="/static/crd3.png") 
                div.card-content
                    p This is the best dance academy for you!


    section#sponsorSection 
        h2  Our sponsors
        div#sponsors
            img(src="/static/amazon.png", alt="Sponsor image", class="spImage")
            img(src="/static/swiggy.jpeg", alt="Sponsor image", class="spImage")
            img(src="/static/ms.jpeg", alt="Sponsor image", class="spImage")
            img(src="/static/google_PNG.png", alt="Sponsor image", class="spImage")